<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=XE;User ID=system;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="ConnectionString2" connectionString="Data Source=XE;Persist Security Info=True;User ID=system;Password=manish;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="DBCS" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SanjeetDB;Integrated Security=True" />
        <add name="SanjeetDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SanjeetDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
