.css_body
{
    background-color:White;
    border-radius:20px;
}
.c_upper
{
    border-radius:20px 20px 1px 1px;;
    border-bottom:solid 2px #0899AC;
}
.c_lower
{
    border-radius:1px 1px 20px 20px;
    border-top:solid 2px #0899AC;
    
}
.elect_css
{
    font-size:80px;
}
.gad_css
{
    font-size:80px;
}
